.picker {
  background-color: black;
  width: 80%;
  height: 300px;
  margin-top: 50px;
  margin-left: 10%;
}

.indicator {
  height: 100px;
  color: gray;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.column {
  font-size: 24px;
  color: white;
  text-align: center;
}